<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="2026011001"
    android:versionName="5.2.4">
    <!-- Only this application can receive the messages and registration result -->
    <permission
        android:name="com.openvehicles.OVMS.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.openvehicles.OVMS.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/Theme.App"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui2.MainActivityUI2"
            android:theme="@style/Theme.App2"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false">
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCuzjTXOvR8c4GZJ830z_1I0P4Ak5ojMpA" />
        <meta-data
            android:name="org.openchargemap.api.v2.API_KEY"
            android:value="59284e43-14f7-4d0a-8fec-f2a255611974" />
        <!--
 Fix GoogleMaps component issue, see:
            https://learn.microsoft.com/en-us/xamarin/xamarin-forms/user-interface/map/setup
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name=".ui.BaseFragmentActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".api.CommandActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppDialog">
            <intent-filter>
                <action android:name="com.openvehicles.OVMS.action.COMMAND" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CreateShortcutActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.DialogActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppDialog"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <service
            android:name=".api.ApiService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="connectedDevice">
            <intent-filter>
                <action android:name="com.openvehicles.OVMS.service.intent.PING" />
                <action android:name="com.openvehicles.OVMS.service.intent.ENABLE" />
                <action android:name="com.openvehicles.OVMS.service.intent.DISABLE" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receiver.AutoStart"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".receiver.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="default" />

        <receiver
            android:name=".appwidgets.InfoWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.openvehicles.OVMS.ApiEvent" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/info_widget_info" />
        </receiver>

        <receiver
            android:name=".appwidgets.ScheduledCommandWidget"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.openvehicles.OVMS.action.EXECUTE_SCHEDULED_COMMAND" />
                <action android:name="com.openvehicles.OVMS.action.MANUAL_TRIGGER_COMMAND" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_scheduled_command_info" />
        </receiver>

        <activity
            android:name=".appwidgets.ScheduledCommandWidgetConfigActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.Dialog">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>
    </application>

</manifest>